/* Assessment.css */

.assessment {
    width: 70%;
  margin: 40px auto;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f7f9fb
  }
  
  .assessment h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .assessment button {
    display: block;
    margin: 30px auto;
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .assessment button:hover {
    background-color: #2980b9;
  }
  