.daily-task-screen {
    position: fixed;
    top: 50;
    left: 50;
    width: 80%;
    height: 90%;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  
  .design-app {
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  
  .main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  .asset-list {
    width: 150px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
  }
  
  .editor {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .canvas {
    position: relative;
    background-color: #ffffff;
    width: 80%; /* Use 80% of available width */
    height: 80%; /* Use 80% of available height */
    max-width: 1200px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .logout-button {
    position: absolute;
    top: 10px; /* Moved to top */
    right: 10px;
    padding: 10px 20px;
  }
  