.custom_heading {
  color: #030404;
  padding: auto;
  text-align: left;
  font-size: 40px;
}

.custom_heading span {
  color: #21d7ff;
}

/* .container {
  font-size: 20px;
} */

.content_box p {
  font-size: 18px;
  margin-bottom: 20px;
}

.steps_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step_box {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  color: white;
  /* font-size: 18px; */
}

.step_number {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #333;
}

.step_content h3 {
  margin-left: 15px;
}

.step1 {
  background-color: #1abc9c;
}

.step2 {
  background-color: #f39c12;
}

.step3 {
  background-color: #27ae60;
}

.step4 {
  background-color: #8e44ad;
}

.step5 {
  background-color: #3498db;
}

.service_section a {
  display: inline-block;
  padding: 12px 25px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
  font-size: 16px;
}

.service_section a:hover {
  background-color: transparent;
  color: #023b48;
}

.layout_padding {
  padding: 45px 0;
}

@media screen and (max-width: 770px) {
  .custom_heading {
    text-align: center;
  }

  .service_section a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .steps_container {
    flex-direction: column;
    align-items: center;
  }
}
