.navbar {
  background-color: #f6f8f7;
  height: 100px;
  display: flex;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
.Login-btn a {
  margin-left: 20px;
  padding: 12px 25px 12px 25px;
  background-color: #023b48;
  border: 1px solid #023b48;
  color: #ffffff;
  text-decoration: none;
  width: 140px;
  height: 50px;
}

.Login-btn a:hover {
  background-color: transparent;
  color: #023b48;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  padding-left: 50px;
  margin-left: 0px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  padding-top: 20px;
  column-gap: 1.2rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 1.5rem 1rem;
  height: 100%;
  font-size: 20px;
  padding-top: 100px;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
}


.nav-icon {
  display: none;
}

@media screen and (max-width: 1300px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.2rem;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 90px;
    left: -110%;
    /* opacity: 1; */
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #f6f8f7;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-item .active {
    border: none;
  }
  .nav-links {
    padding: 0px;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }
  .hide{
    display: none;
  }
}

.logo-wth-text {
  text-decoration: none;
  padding-left: 60px;
  color: black;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 25px;
  font-weight: bolder;
  padding-right: 20px;
  padding-bottom: 10px;
}
.top-portion {
  min-height: 18px;
  background-color: black;
}

.nav-item-1 {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  font-size: 20px;
}
